/*#b8dd16 greenyellow rgb(184, 221, 22) */


/*FFE1DE  ffd0cb*/

body {
    background: url(../images/greenpurple.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}


/*HEADER*/

#nav-link {
    color: hotpink;
    border: 2px solid hotpink;
    margin: 5px;
}

#header-wrapper {
    height: 97vh;
    position: relative;
}

#header {
    position: absolute;
    bottom: 150px;
    left: 10%;
}

#name {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#title {
    color: greenyellow;
}

h1.section-title {
    color: hotpink;
    margin-top: 30px;
}


/*WORK*/

#work-wrapper-1 {
    background-color: ghostwhite;
}

#work-wrapper-2 {
    background-color: lightgrey;
}

#work-section {
    width: 90%;
    margin: auto;
}

.project-img {
    width: 500px;
}


/*ABOUT*/

#about-wrapper {
    background-color: black;
}

#about-section {
    width: 90%;
    margin: auto;
}

#photo {
    height: 200px;
    margin-right: 20px;
}


/*CONTACT*/

#contact-wrapper {
    background-color: dimgrey;
}

#contact-section {
    width: 90%;
    margin: auto;
}


/*SOCIAL*/

#social-section {
    width: 20%;
    clear: both;
    margin: 30px auto;
}

.social-btn {
    display: inline;
}

.social-img {
    width: 30%;
}

a:hover {
    text-decoration: none;
}


/*FOOTER*/

#footer {
    color: white;
    margin: 30px 0px 30px 30px;
}